/**
 * Global Defaults and Typography
 */
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700|Roboto:400,700,900');
*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', serif;
  font-weight: 700;
  color: #8b1e41;
}


/**
 * Layout
 */
body {
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 1rem;
  background-color: #CFCFCF
}
a{
  color: #8b1e41;
  transition: color .5s;
}
a:hover{
  color: #cf8b2a;
}
@media (min-width: 760px) {
  footer {
    display: flex;
    justify-content: space-between;
  }
  footer h2,
  footer address {
    width: 40%;
  }
}


/**
 * Forms
 */
form {
  border: 1px solid black;
  margin: 0 auto;
  padding: 1rem;
  width: 35vw;
  background: #DFDFDF;
}

label {
  display: block;
  padding-bottom: 1rem;
}

label input {
  width: 100%;
}

/* Dashboard Stuff */
.flexbox{
  display: flex;
  justify-content: space-around;
}
.bordered{
  border: 1px solid black;
  padding: 0 10px;
  width: 100vw;
  /* max-width: 80vw; */
}
.dashboard-wrapper{
  border: 1px solid black;
  padding: 1rem;
  margin: 0 auto;
  width: 50vw;
  background: #DFDFDF
}

nav{
  width: 80vw;
  padding: 10px;
  border: 1px solid black;
  margin: 0 auto;
}

nav ul{
  display: flex;
  justify-content: space-around;
}

nav ul li{
  display: inline-block;
}
