{% extends "layouts/base.html" %}

{% block title %}TSCT Portal{% endblock %}



{% block content %}
<table class="centered">
  <tr>
    <th>Course Name</th>
    <th>Teacher</th>
    <th>Time</th>
  </tr>
    {% for session in schedule_list %}
    <tr>
    <td>{{ session[0] }}</td>
    {% for people in all_teachers  %}
      {% if session[4] == people[2] %}
          <td>{{ people[0] }} {{ people [1] }}</td>
      {% endif %}
    {% endfor %}
    <td>{{ session[1] }}</td>
    </tr>
    {% endfor %}
</table>

{% endblock %}
