{% extends "layouts/base.html" %}

{% block title %}TSCT Portal{% endblock %}

{% block content %}
<form method='POST'>
  Assignment name: <input value="{{ assignment[0] }}" type="text" name="assign-name" required><br />
  Points Available: <input value="{{ assignment[1] }}" type="number" name="points-avb" required><br />
  Instructions: <input value="{{ assignment[2] }}" name="instructions" required cols="35"> <br />
  Due date: <input value="{{ assignment[3] }}"type="text" name="due_date" required><br/>
  <label for="submit">
      <input type="submit" name="submit">
  </label>
</form>

{% for students in session %}
<form method="POST">
  <label for="students">
      Student: {{ student }}
  </label>
  <label for="points">
    Points Earned: <input type="text" name="assignments" value="{{ PE }}"> <p>/ {{ PT }}</p>
  </label>
  <label for="grade">
    Grade: {{ math_done }}

  </label>
{% endfor %}

</form>
{% endblock %}
