{% extends "layouts/base.html" %}

{% block title %}TSCT Portal{% endblock %}

{% block content %}
<form method="post">
  <fieldset>
      <label for="student_id">Select student</label>
      <select id="student_id" name="student_id">
        {% for students in students %}
        <option value="{{ students[0] }}">{{ students[2] }} {{ students[3] }}</option>
        {% endfor %}
      </select>
      <label for="session_id">Select course session</label>
      <select id="session_id" name="session_id">
        {% for course_sessions in course_sessions %}
        <option value="{{ course_sessions[0] }}">ID: {{ course_sessions[2] }} Time: {{ course_sessions[3] }} # of students: {{ course_sessions[4] }}</option>
        {% endfor %}
      </select>
      <label for="submit">
        <button type="submit">Add student to session</button>
      </label>

  </fieldset>
</form>
<p>Course Sessions:</p>
<ul>
  {% for course_sessions in course_sessions %}
  <li>Session ID: {{ course_sessions[0] }}</li>
  <ul>
    <li>Number of students: {{ course_sessions[4] }}</li>
  </ul>
    <ul>
      <li>Time: {{ course_sessions[3] }}</li>
    </ul>

  {% endfor %}
</ul>


<ul>
  <h1> list</h1>
    {% for session in session_ids %}
    <h2>{{ session }}</h2>
      {% for sesh in sessions[session] %}
        <li>Student: {{ sessions[session] }}</li>
        <hr>
      {% endfor %}
    {% endfor %}
{% endblock %}
