{% if g.user %}
<nav>
  <ul>
    <span>Hello, {{ g.user[2] }}!</span>
    <li><a href="{{ url_for('dash') }}">Dashboard</a></li>
    <li><a href="{{ url_for('courses.course_page') }}">Courses</a></li>
    {% if g.user['role']=='teacher' %}
    <li><a href="{{ url_for('sessions.sessions') }}">Sessions</a></li>
    {% endif %}
    {% if g.user['role']=='student' %}
    <li><a href="{{ url_for('schedule.schedule') }}">Schedule</a></li>
    {% endif %}
    <li><a href="{{ url_for('assign.assignment_page') }}">Assignments</a></li>
    <li><a href="{{ url_for('auth.log_out') }}">Log Out</a></li>
  </ul>
</nav>
{% endif %}
